@import "../../styles/default/mixins";
.searchModal {
  width: 100%;
  height: 100vh;
  background-color: rgba(56, 56, 56, 0.753);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  &_block {
    width: 50% !important;
    background-color: rgb(38, 38, 38);
    height: auto;
    margin-top: 100px;
    padding: 10px !important;
    padding-bottom: 15px !important;
    border-radius: 10px;
  }
  &--top {
    background-color: rgb(30, 30, 30);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    input {
      width: 80%;
      background-color: transparent;
      height: 100%;
      border: none;
      font-family: "Montserrat", sans-serif;
      color: white;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
  }
  &--middle {
    background-color: rgb(30, 30, 30);
    height: 100%;
    border-radius: 5px;
    padding: 10px;
  }
  &_recent {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
  }
  &_recentHeadline {
    font-size: 14px;
    color: grey;
    margin-bottom: 15px;
    font-weight: 600;
  }
  &_nftsWrapper {
    padding: 5px;
  }
  &_nft {
    display: flex;
    align-items: flex-start;
    color: white;
    gap: 20px;
    background-color: rgb(38, 38, 38);
    border: 1px solid grey;
    border-radius: 5px;
    height: 100%;
    img {
      border-radius: 5px 0 0 5px;
    }
    &Headline {
      font-size: 22px;
      margin-bottom: 2px;
    }
    &Creator {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 2px;
    }
  }
  &_price {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }
}

@include sm {
  .searchModal {
    &_block {
      width: 90% !important;
    }
  }
}

@include md {
  .searchModal {
    &_block {
      width: 90% !important;
    }
  }
}
