.nftCard {
  background-color: var(--black);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 0;
  padding-bottom: 15px;
  color: white;
  font-family: "Montserrat", sans-serif;
  border: 1px solid grey;
  &--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    padding-top: 0;
  }
  &_country {
    font-size: 20px;
    font-weight: 700;
  }
  &--middle {
    margin-bottom: 10px;
    background-color: rgb(80, 80, 80);
    padding: 20px 0;
    background-color: #e5e5f7;
    opacity: 0.8;
    background:
      linear-gradient(135deg, #00000055 25%, transparent 25%) -10px 0/ 20px 20px,
      linear-gradient(225deg, #242424 25%, transparent 25%) -10px 0/ 20px 20px,
      linear-gradient(315deg, #00000055 25%, transparent 25%) 0px 0/ 20px 20px,
      linear-gradient(45deg, #242424 25%, #444444 25%) 0px 0/ 20px 20px;
    img {
      width: 100%;
    }
  }
  &--bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    padding-bottom: 0;
  }
  &_name {
    font-size: 16px;
    font-weight: 600;
  }
  &_button {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid white;
    color: var(--black);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
  &_owner {
    font-size: 14px;
    color: var(--orange);
    font-weight: 500;
  }
}
