.banner5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &_headline {
    text-align: center;
    margin-bottom: 60px;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
  }
}

@include sm {
  .banner5 {
    &_headline {
      font-size: 28px;
      text-align: center;
    }
  }
}

@include md {
  .banner5 {
    &_headline {
      font-size: 28px;
      text-align: center;
    }
  }
}

@include lg {
  .banner5 {
    &_headline {
      font-size: 32px;
      text-align: center;
    }
  }
}

@include xl {
  .banner5 {
    &_headline {
      font-size: 48px;
      text-align: center;
    }
  }
}

@include xxl {
  .banner5 {
    &_headline {
      font-size: 48px;
      text-align: center;
    }
  }
}
