//Components
@import "../components/ui/fakeInput/fakeInput.module.scss";
@import "../components/ui/connect-button/connect-button.module.scss";
@import "../components/cards/ntfCard/nftCard.module.scss";
@import "../components/searchModal/searchModal.module.scss";

//Layouts
@import "../layouts/navbar/navbar.module.scss";
@import "../layouts/footer/footer.module.scss";

// Default
@import "./default/animation";
@import "./default/_typography.scss";
@import "./default/variables";
@import "./default/common";

//Containers
@import "../containers/banner/banner.module.scss";
@import "../containers/banner5/banner5.module.scss";
@import "../containers/bannerPoly/bannerPoly.module.scss";
@import "../containers/cardCarousel/cardCarousel.module.scss";

//Pages
@import "./pages/homepage.module.scss";
