@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./imports";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: auto !important;
  background: radial-gradient(
    100% 100% at 0 0,
    #525252 0,
    #464646 20%,
    #404040 40%,
    #343434 60%,
    #282828 80%,
    #222 100%
  );
  min-height: 100vh;
  z-index: 99;
  font-family: "Montserrat", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    100% 100% at 0 0,
    #525252 0,
    #464646 20%,
    #404040 40%,
    #343434 60%,
    #282828 80%,
    #222 100%
  );
  -webkit-font-smoothing: antialiased;
  position: relative;
  height: 100%;
  min-height: 100vh;
  z-index: 2;
}

body::before {
  background-image: url("https://nuron-nextjs.vercel.app/images/bg/noise.gif");
  background-color: black;
  opacity: 0.07;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body,
html,
body::before {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  padding-top: 70px;
}
