@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./default/_typography.scss";

body,
html {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    100% 100% at 0 0,
    #525252 0,
    #464646 20%,
    #404040 40%,
    #343434 60%,
    #282828 80%,
    #222 100%
  );
  scroll-behavior: auto;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  background-image: url("https://nuron-nextjs.vercel.app/images/bg/noise.gif");
  background-color: black;
  opacity: 0.05;
  content: "";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
