.banner3 {
  z-index: 99;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 140px;
  &_headline {
    font-size: 48px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
  }
  &_container {
    display: flex;
    align-items: flex-start;
  }
  &--left {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  &_content {
    font-size: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    opacity: 0;
  }
}
@include sm {
  .banner3 {
    margin-bottom: 60px;
    &_headline {
      font-size: 28px;
      text-align: center;
    }
    &_container {
      flex-direction: column-reverse;
      align-items: center;
    }
    &_image {
      width: 350px;
      height: 300px;
      margin-bottom: 20px;
    }
    &_content {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &--left {
      align-items: center;
    }
  }
}

@include md {
  .banner3 {
    margin-bottom: 80px;
    &_headline {
      font-size: 28px;
      text-align: center;
    }
    &_image {
      width: 350px;
      height: 300px;
      margin-bottom: 20px;
    }
    &_content {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &--left {
      align-items: center;
    }
  }
}

@include lg {
  .banner3 {
    margin-bottom: 80px;
    &_headline {
      font-size: 28px;
      text-align: center;
    }
    &_image {
      width: 420px;
      height: 360px;
      margin-bottom: 20px;
    }
    &_content {
      text-align: center;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_container {
      gap: 20px;
    }
    &--left {
      align-items: center;
    }
  }
}

@include xl {
  .banner3 {
    margin-bottom: 100px;
    &_headline {
      font-size: 48px;
      text-align: center;
    }
    &_image {
      width: 490px;
      height: 420px;
      margin-bottom: 20px;
    }
    &_content {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_container {
      gap: 20px;
    }
  }
}

@include xxl {
  .banner3 {
    margin-bottom: 120px;
    &_headline {
      font-size: 48px;
      text-align: center;
    }
    &_image {
      width: 560px;
      height: 480px;
      margin-bottom: 20px;
    }
    &_content {
      font-size: 40px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_container {
      gap: 20px;
    }
  }
}
