@import "../../../styles/default/mixins";

.inputComponent {
  border: 2px solid grey;
  background-color: transparent;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2px 8px;
  padding-right: 3px;
  gap: 5px;
  cursor: pointer;
  &_icon {
    color: grey;
  }
  &_input {
    height: 100%;
    border-radius: 5px;
    color: grey;
    background-color: transparent;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    width: 200px;
  }
  &_button {
    color: grey;
    height: 100%;
    border: 2px solid grey;
    border-radius: 5px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    font-size: 12px;
    font-weight: 800;
  }
}

@include sm {
  .inputComponent {
    border: none;
    &_input {
      display: none;
    }
    &_button {
      display: none;
    }
  }
}

@include md {
  .inputComponent {
    &_input {
      display: none;
    }
  }
}

@include lg {
  .inputComponent {
    &_input {
      display: none;
    }
  }
}
