.banner2 {
  z-index: 99;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 140px;
  &_headline {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
  }
  &_block {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &_content {
    font-weight: 400;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 40px;
  }
  &_button {
    &--pink {
      padding: 10px 40px;
      border: 1px solid white;
      color: white;
      font-size: 16px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      border-radius: 5px;
      font-weight: 600;
      background-color: var(--pink);
    }
  }
}

@include sm {
  .banner2 {
    margin-bottom: 60px;
    &_headline {
      font-size: 28px;
      text-align: center;
    }
    &_block {
      flex-direction: column;
    }
    &_content {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_image {
      width: 350px;
      height: 220px;
      margin-bottom: 20px;
    }
    &--right {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

@include md {
  .banner2 {
    margin-bottom: 80px;
    &_headline {
      font-size: 28px;
      text-align: center;
    }
    &_content {
      font-size: 24px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_image {
      width: 385px;
      height: 242px;
    }
  }
}

@include lg {
  .banner2 {
    margin-bottom: 80px;
    &_headline {
      font-size: 32px;
      text-align: center;
    }
    &_content {
      font-size: 28px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    &_image {
      width: 420px;
      height: 264px;
    }
  }
}

@include xl {
  .banner {
    margin-bottom: 100px;
  }
}

@include xxl {
  .banner {
    margin-bottom: 120px;
  }
}
